body {
  text-align: center;
  background-color: lightgrey;
  background-size: cover;
  color: black;
  .jumbotron {
    background-color: lightblue;
    color: black;
  }
  .btn {
    background-color: navy;
    color: white;
  }
}


h2 {
  color: red;
}
